@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
.masthead {
    margin-top: 50px;
    min-height: auto;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  form{
      padding: 20px;
      background-color: #f4f4f4;
      margin: 20px auto;
  }
  .login-section{
      height: 100vh;
  }

  .text-center{
      font-family: 'Righteous';
  }
  .login-section{
      display: flex;
      justify-content: center;
      align-items: center;
  }